.borderRradius-15 {
    border-radius: 15px;
}

.chatList {
    position: relative;
    height: 475px;
    overflow: auto;
}

.chatListFrame {
    width: 380px;
    position: fixed;
    right: 10px;
}